cvzone==1.6.1
deepstack_sdk==0.2.1
filterpy==1.4.5
Flask==3.0.3
joblib==1.2.0
lapx==0.5.8
matplotlib==3.7.1
mysql_connector_repackaged==0.3.1
numpy==1.23.5
opencv_python==4.7.0.72
openpifpaf==0.13.11
pandas==2.0.1
Pillow==9.5.0
Pillow==10.3.0
PyAutoGUI==0.9.54
scikit_learn==1.2.2
scipy==1.13.1
skimage==0.0
torch==2.3.0+cu121
torch_summary==1.4.5
torchfusion_utils==0.1.5
torchsummary==1.5.1
torchvision==0.18.0+cu121
ultralytics==8.2.27
